

#selfie {
  display: block;
  margin-top: 150px;
  margin-left: 0;
}
body {
  background-image: url(/media/black.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
:root{
    --primary-color: black;
    --secondary-color:  #6c6c6d;
    --paragraph-color: #ffffff;
    --primary-font: font-family: 'Playfair Display', serif;
    --secondary-font: font-family: 'Playfair Display', serif;
}

#about-btn, #project-btn{
   background-color: white; 
   border: transparent;
   color: black;
}
.bg-theme{
  background-color: var(--primary-color);
  opacity: 0.8;
}
#about-btn{
  margin-right: 40px;
}
